.robin-editor {
  background-color: #fff;
  &.fullscreen { position: fixed; left: 0; top: 0; height: 100%; width: 100%;}
  
  .toolbar { padding: 10px 20px; box-shadow: 0 1px 8px #ddd;}
  .tools-item { width: 18px; height: 18px; vertical-align: middle; margin: 0 4px; padding: 4px; box-sizing: content-box;}
  .edit-and-preview { box-shadow: 0 4px 4px 1px #ddd;}
  .half { display: inline-block; width: 50%; padding: 10px; height: 100%; overflow-y: auto; overflow-x: hidden; white-space: normal; word-break: break-all; resize: none; border-left: 1px solid #ededed;}
  textarea.half { border: 0; outline: 0; font: 300 15px/1.4 "Microsoft Yahei", arial, sans-serif;}
  .half::-webkit-scrollbar { width: 8px;}
  .half::-webkit-scrollbar-track { display: none;}
  .half::-webkit-scrollbar-button { display: none;}
  .half::-webkit-scrollbar-thumb { background-color: #aaa;}
}

.additional-tool {
  left: 50%; top: 100%; transform: translate(-50%, 1px); padding: 10px 20px; background-color: #fff; box-shadow: 0 1px 8px #ddd; z-index: 10;
  
  .additional-image > div { padding: 10px 0;}
  .additional-image .image-net { outline: 0; border: 0; border-bottom: 1px solid #bbb; height: 30px;}
  .additional-image .upload-image + input { display: none;}
  .additional-table { padding: 10px 20px;}
  .additional-table input { outline: 0; border: 0; border-bottom: 1px solid #bbb; width: 60px; height: 30px; padding: 0 4px;}
  .controls { padding: 14px 0 8px;}
  .btn { padding: 5px 18px; background-color: #666; color: #fff; border-radius: 3px; cursor: pointer; border: 1px solid #666;}
  .btn.cancel { background-color: #fff; color: #666; border-color: #999; margin-right: 10px;}
}