.article-schema-item {
  transition: padding .2s ease;
  &:hover {
    background-color: #eee; padding: 18px 20px;

    .article-schema-title { color: #22af6f;}
  }

  .tag-another:hover { text-decoration: underline; color: #22af6f;}
}
